@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }

  body {
    background-color: #7cb5ee;
    overflow-x: hidden;
  }
}

@layer components {
  .input-box {
    @apply w-full text-sm bg-transparent border border-gray-300 px-5 py-2 rounded mb-4 outline-none focus:border-blue-500;
  }

  .btn-primary {
    @apply w-full text-sm bg-blue-500 text-white p-2 rounded my-1 hover:bg-blue-600;
  }

  .icon-btn {
    @apply text-xl text-slate-300 cursor-pointer hover:text-primary;
  }

  .input-label {
    @apply text-xs text-slate-400; /* fixed typo */
  }
}
